
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.personal-info {
  margin-top: 20px;
}
.navbar-nav>li>a.profile-image {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-nav>li>a.profile-image img{

margin-right: 10px;
}


